<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.user_id %></td>
    <td><%= blog.title %></td>
    <td><%= blog.body %></td>
  </tr>
<% end %>

<%= link_to "new", new_blog_url, {class: "btn btn-primary mx-1"} %>
