<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>blog</h1>
        <body>
          <div><%= @blog.title %></div>
          <div><%= @blog.body %></div>
        </body>
        <%= link_to "Destroy", blog_path(@blog), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
</main>